body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
img { 
  border: 2px solid blue;
  height: 200px;
  width: 200px;
  

}

  #header {
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
  }
  
  section {
    padding: 20px;
  }
  
  h2 {
    margin-top: 0;
  }
  
  ul {
    padding: 0;
}

li {
  margin-bottom: 10px;
}
.eu img {
  text-align: center;
}
.sobre {
  background-color: rgb(0, 253, 148);
}
.filosofia {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
}
.ciber {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
}
.criativa {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
}
.RA {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
}
.logica {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
}

